.items-wrapper {
    width: 225px;
    height: 125px;
    background-color: var(--main-color);
    color: white;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 150px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {
        width: 325px;
        height: 300px;
        position: absolute;
        top: -150px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(20, 20, 20);
        box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);

        img {
            height: 150px;
        }

        .item-info {
            display: flex;
            flex-direction: column;
            padding: 5px;

            .icons {
                display: flex;
                margin-bottom: 10px;
        
                .icon {
                  border: 2px solid grey;
                  padding: 5px;
                  border-radius: 50%;
                  margin-right: 10px;
                  font-size: 16px;
                }
            }

            .itemInfoTop {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 600;
                color: white;
        
                .age-limit {
                  border: 1px solid grey;
                  padding: 1px 3px;
                  margin: 0 10px;
                }
            }

            .desc {
                font-size: 14px;
                margin-bottom: 10px;
            }
        
            .genre {
                font-size: 14px;
                color: white;
            }
        }
    }
}